docs
.Rproj.user/
.Rhistory

*.pper
.Rproj.user/C08CC8C9/persistent-state
.Rproj.user/C08CC8C9/pcs/files-pane.pper
.Rproj.user/C08CC8C9/pcs/windowlayoutstate.pper
.Rproj.user/C08CC8C9/pcs/workbench-pane.pper
.Rproj.user/C08CC8C9/persistent-state
.Rproj.user/C08CC8C9/sources/prop/6B6BC75E
.Rproj.user/C08CC8C9/sources/prop/96B48E1C
.Rproj.user/shared/notebooks/paths
.Rhistory
.Rhistory
.Rproj.user/C08CC8C9/pcs/files-pane.pper
.Rproj.user/C08CC8C9/pcs/windowlayoutstate.pper
.Rproj.user/C08CC8C9/pcs/workbench-pane.pper
.Rproj.user/C08CC8C9/persistent-state
.Rproj.user/C08CC8C9/sources/prop/6B6BC75E
.Rproj.user/C08CC8C9/sources/prop/96B48E1C
.Rproj.user/shared/notebooks/paths
*.pper
.Rproj.user/C08CC8C9/persistent-state
