docs
.Rhistory
.Rproj.user/C08CC8C9/pcs/debug-breakpoints.pper
.Rproj.user/C08CC8C9/pcs/source-pane.pper
.Rproj.user/C08CC8C9/pcs/workbench-pane.pper
.Rproj.user/C08CC8C9/rmd-outputs
.Rproj.user/C08CC8C9/sources/per/t/0597993D
.Rproj.user/C08CC8C9/sources/per/t/0597993D-contents
.Rproj.user/C08CC8C9/sources/per/t/76820B80
.Rproj.user/C08CC8C9/sources/per/t/76820B80-contents
.Rproj.user/C08CC8C9/sources/per/t/D803B6AB
.Rproj.user/C08CC8C9/sources/per/t/D803B6AB-contents
.Rproj.user/C08CC8C9/sources/prop/6B6BC75E
.Rproj.user/C08CC8C9/sources/s-2868A13F/0597993D
.Rproj.user/C08CC8C9/sources/s-2868A13F/0597993D-contents
.Rproj.user/C08CC8C9/sources/s-2868A13F/2C605902-contents
.Rproj.user/C08CC8C9/sources/s-2868A13F/542A3DAB-contents
.Rproj.user/C08CC8C9/sources/s-2868A13F/76820B80
.Rproj.user/C08CC8C9/sources/s-2868A13F/76820B80-contents
.Rproj.user/C08CC8C9/sources/s-2868A13F/D803B6AB
.Rproj.user/C08CC8C9/sources/s-2868A13F/D803B6AB-contents
.Rproj.user/C08CC8C9/sources/s-2868A13F/lock_file
.Rhistory
.Rhistory
