.Rproj.user/
.Rhistory

inst/extdata/EPSG3338/GOA_bathy_raster_EPSG3338.rda
testing.docx
testing.Rmd
*.pper
.Rhistory
.Rproj.user/C08CC8C9/pcs/source-pane.pper
.Rproj.user/C08CC8C9/pcs/workbench-pane.pper
.Rproj.user/C08CC8C9/persistent-state
.Rproj.user/C08CC8C9/sources/prop/96B48E1C
.Rproj.user/C08CC8C9/sources/prop/INDEX
.Rproj.user/shared/notebooks/paths
R/testing.R
inst/doc
R/testing.R
